body {
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:not(.icon):hover {
    text-decoration: underline;
}

header {
    padding-top: 10px;
    float: right;
}

header>div {
    display: inline-block;
}

header>div>a {
    color: #000;
    padding-left: 15px;
}

.fa:not(.fa-bell) {
    opacity: .55;
}

.fa:hover,
.fa-stack:hover .fa-circle {
    opacity: .85;
}
.fa-bell:hover {
    opacity: 1;
}

#prof {
    padding-right: 25px;
}

#profilePic {
    vertical-align: middle;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#google {
    clear: both;
    padding-top: 150px;
}

input,
#google,
#buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    padding-top: 30px;
}

input {
    border: 1px solid #d9d9d9;
    width: 484px;
    height: 38px;
    background-image: url('images/sbv-mic.png');
    background-repeat: no-repeat;
    background-position: right;
}

#buttons {
    padding-top: 30px;
    width: 300px;
}

#buttons>button:nth-child(1) {
    float: left;
    width: 126px;
    height: 36px;
}

#buttons>button:nth-child(2) {
    float: right;
    width: 144px;
}

button {
    height: 36px;
    background-color: #f2f2f2;
    border: none;
    font-weight: bold;
    color: #757575;
    font: 13.33px;
}

button:hover {
    border: 1px solid #d9d9d9;
    color: #222;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer>div {
    display: inline-block;
    padding: 10px 20px 0px 20px;
}

#leftFoot {
    float: left;
}

#rightFoot {
    float: right;
}

#leftFoot>a,
#rightFoot>a {
    color: #666;
}
