body {
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:not(.icon):hover {
    text-decoration: underline;
}

header>div>a {
    padding-left: 15px;
}

header {
    padding-top: 10px;
    float: right;
}

header>div {
    display: inline-block;
}

#words>a {
    color: #000;
}

#prof {
    padding-right: 25px;
}

#profilePic {
    vertical-align: middle;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#google {
    clear: both;
    padding-top: 150px;
}

#google,
#buttons,
input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
     width: 300px;
}

#buttons>button:nth-child(1) {
    float: left;
}

#buttons>button:nth-child(2) {
    float: right;
}